{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}<br>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Registration</h5>
                    <form class="form-signin" action="{{ url_for('user.process_reg') }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-label-group">
                            {{ form.username() }}
                            {{ form.username.label }}
                        </div>
                        <div class="form-label-group">
                            {{ form.email() }}
                            {{ form.email.label }}
                        </div>
                        <div class="form-label-group">
                            {{ form.password() }}
                            {{ form.password.label }}
                        </div>
                        <div class="form-label-group">
                            {{ form.password2() }}
                            {{ form.password2.label }}
                        </div>
                        {{ form.submit }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}