{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Index page</h5>
                    <form class="form-signin">
                    <div class="form-label-group">
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="e.g. Ivan" required autofocus>
                        <label for="first_name">Firstname</label>
                    </div>

                    <div class="form-label-group">
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="e.g. Ivanov" required autofocus>
                        <label for="last_name">Lastname</label>
                    </div>

                    <hr>

                    <div class="form-label-group">
                        <input type="password" name="input_password" id="input_password" class="form-control" placeholder="Password" required>
                        <label for="input_password">Password</label>
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Hello world</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
